/* 
	Theme Name: Blue Zinfandel Squared Enhanced
	Theme URL: http://www.briangardner.com/themes/blue-zinfandel-squared-wordpress-theme.htm
	Description: Blue Zinfandel Squared 2.0 is a modern theme created for Wordpress.
	Author: Brian Gardner
	Author URI: http://www.briangardner.com
	Version: 2.0
		
	The CSS, XHTML and design is released under GPL:
	http://www.opensource.org/licenses/gpl-license.php
	
	Changelog:
		v2.0 - 01.18.07
			First Release of Blue Zinfandel Squared 2.0
*/

body {
	background: #EFEFEF url(images/content.gif) top center repeat-y;
	color: #333333;
	font-size: 11px;
	font-family: Verdana, Helvetica, Sans-Serif;
	margin: 0px auto 0px;
	padding: 0px;
	}
	
#wrap {
	background: #EFEFEF url(images/bg.gif) top center repeat-y;
	color: #333333;
	font-size: 11px;
	font-family: Verdana, Helvetica, Sans-Serif;
	margin: 0px auto 0px;
	padding: 0px;
	}
	
/************************************************
*	Hyperlinks									*
************************************************/

a, a:visited{
	color: #507AA5;
	text-decoration: none;
	}
	
a:hover{
	text-decoration: underline;
	}
	
/************************************************
*	Header  									*
************************************************/

#header {
	background: #FFFFFF;
	width: 760px;
	margin: 0px auto 0px;
	padding: 10px 0px 10px 0px;
	text-align: center;
	border-top: 5px solid #658DB5;
    text-transform: uppercase;
	}
	
#header a {
	font-family: Times New Roman, Helvetica, Sans-Serif;
	font-size: 48px;
	color: #333333;
	text-decoration: none;
	padding: 0px 10px 0px 10px;
	margin: 0px;
	text-transform: uppercase;
	}

#header a:hover{
	color: #333333;
	}
	
/************************************************
*	Navbar      								*
************************************************/

#navbar {
	background: #FFFFFF;
	width: 760px;
	margin: 0px auto 0px;
	padding: 10px 0px 10px 0px;
	text-align: center;
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	}
	
#navbar li {
	display: inline;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	}
		
#navbar ul {
	margin: 0px;
	padding: 0px;
	}
	
#navbar ul li a {
	font-family: Times New Roman, Helvetica, Sans-Serif;
	font-size: 22px;
	color: #333333;
	padding: 0px 10px 0px 10px;
	margin: 0px;
	text-decoration: none;
	text-transform: uppercase;
	}

#navbar ul li a:hover {
	color: #658DB5;
	}
	
/************************************************
*	Left Sidebar      							*
************************************************/

#l_sidebar {
	float: left;
	width: 220px;
	margin: 0px 20px 0px 0px;
	padding: 20px 0px 20px 0px;
	}
	
#l_sidebar ul {
	list-style: none;
	margin: 0px;
	padding: 0px 0px 20px 0px;
	}
	
#l_sidebar li {
	list-style: none;
	margin: 0px;
	padding: 0px;
	}
	
#l_sidebar ul li {
	margin: 0px;
	padding: 5px 0px 0px 0px;
	}
	
#l_sidebar ul li a {
	color: #507AA5;
	text-decoration: none;
	}

#l_sidebar ul li a:hover {
	color: #507AA5;
	text-decoration: underline;
	}
	
/************************************************
*	Content 					     		    * 
************************************************/

#content {
	width: 760px;
	margin: 0px auto 0px;
	padding: 0px;
	}

#content p{
	padding: 0px 0px 15px 0px;
	margin: 0px;
	line-height: 20px;
	}
	
#content p img{
	float: left;
	border: none;
	margin-right: 15px;
	margin-bottom: 10px;
	}
	
#content h1 {
	color: #333333;
	font-size: 22px;
	font-family: Times New Roman, Verdana, Arial, Sans-Serif;
	font-weight: normal;
	padding: 0px 0px 0px 0px;
	margin: 0px;
	}
	
#content h1 a  {
	color: #333333;
	text-decoration: none;
	}

#content h1 a:hover {
	color: #658DB5;
	text-decoration: none;
	}
	
#content h2 {
	color: #333333;
	font-size: 14px;
	font-family: Times New Roman, Verdana, Arial, Sans-Serif;
	font-weight: bold;
	padding: 5px 0px 5px 0px;
	margin: 0px;
	border-top: 1px dotted #C0C0C0;
	border-bottom: 1px dotted #C0C0C0;
	}
	
#content ol{
	margin: 0px 0px 0px 20px;
	padding: 0px 0px 0px 0px;
	}
	
#content ol li{
	margin: 0px 0px 0px 20px;
	padding: 0px 0px 0px 0px;
	}
	
#contentmiddle ul{
	list-style-type: square;
	margin: 0px 0px 0px 20px;
	padding: 0px 0px 0px 0px;
	}
	
#contentmiddle ul li{
	list-style-type: square;
	margin: 0px 0px 0px 20px;
	padding: 0px 0px 0px 0px;
	}
	
blockquote{
	margin: 0px 0px 0px 25px;
	padding: 0px 25px 0px 10px;
	font-style: italic;
	color: #666666;
	border-left: 3px solid #B3C8DB;
	}
	
#content blockquote p{
	margin: 0px 0px 20px 0px;
	padding: 0px;
	}
	
#contentmiddle {
	float: left;
	width: 480px;
	margin: 0px;
	padding: 20px 0px 10px 20px;
	}
	
#contentmiddle p img{
	float: left;
	border: none;
	margin-right: 15px;
	margin-bottom: 10px;
	}
	
.contentdate {
	background: #FFFFFF url(images/date.gif);
	float: left;
	width: 45px;
	height: 50px;
	margin: 0px;
	padding: 0px;
	}
	
.contentdate h3 {
	color: #FFFFFF;
	font-size: 10px;
	font-weight: normal;
	padding: 1px 0px 0px 10px;
	margin: 0px;
	text-transform: uppercase;
	}
	
.contentdate h4 {
	font-family: Times New Roman, Helvetica, Sans-Serif;
	color: #999999;
	font-size: 21px;
	font-weight: bold;
	padding: 5px 4px 0px 0px;
	margin: 0px;
	text-align: center;
	}
	
.contenttitle {
	float: left;
	width: 425px;
	margin: 0px;
	padding: 0px 0px 0px 10px;
	}
	
#contentmiddle ul li {
	margin: 0px;
	padding: 5px 0px 0px 0px;
	}
	
#contentmiddle ul li a {
	color: #507AA5;
	text-decoration: none;
	}

#contentmiddle ul li a:hover {
	color: #507AA5;
	text-decoration: underline;
	}
	
#content img.wp-smiley {
	float: none;
	border: none;
	padding: 0px;
	margin: 0px;
	}

#content img.wp-wink {
	float: none;
	border: none;
	padding: 0px;
	margin: 0px;
	}
	
.postspace {
	background: #EFEFEF url(images/spacer.gif);
	width: 480px;
	height: 32px;
	margin: 0px;
	padding: 0px;
	}
	
/************************************************
*	Footer      								*
************************************************/

#footer {
	background: #FFFFFF;
	width: 760px;
	margin: 0px auto 0px;
	padding: 10px 0px 10px 0px;
	text-align: center;
	border-top: 1px solid #C0C0C0;
	}

/************************************************
*	Search Form									*
************************************************/

#searchdiv {
	margin: 0px;
	padding 0px;
	}
	
#searchform {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	}
	
#s {
	width: 190px;
	background: #EFEFEF url(images/search.gif);
	color: #333333;
	font-size: 11px;
	font-family: Verdana, Helvetica, Sans-Serif;
	padding: 3px;
	margin: 8px 0px 0px 0px;
	border: 1px solid #C0C0C0;
	}

/************************************************
*	Comments									*
************************************************/
	
#commentblock {
	width: 450px;
	background: #EFEFEF;
	color: #333333;
	float: left;
	padding: 10px 20px 0px 20px;
	margin: 10px 0px 10px 0px;
	border: 1px solid #C0C0C0;
	}
	
ol#commentlist {
	padding: 5px 0px 5px 0px;
	margin: 0px;
	list-style-type: none;
	}
	
.commentdate {
	font-size: 12px;
	padding-left: 0px;
	}
	
#commentlist li p{
	margin-bottom: 8px;
	line-height: 20px;
	padding: 0px;
	}

.commentname {
	color: #333333;
	margin: 0px;
	padding: 5px 5px 5px 0px;
	}

.commentinfo{
	clear: both;
	}

.commenttext {
	clear: both;
	margin: 5px 0px 20px 0px;
	padding: 20px 10px 5px 10px;
	width: 365px;
	background: #FFFFFF url(images/comment.gif) no-repeat top;
	}

.commenttext-admin {
	clear: both;
	margin: 5px 0px 20px 0px;
	padding: 20px 10px 5px 10px;
	width: 365px;
	background: #FFFFFF url(images/comment.gif) no-repeat top;
	}

#commentsformheader{
	padding-left: 0px;
	}

#commentsform{
	text-align: left;
	margin: 0px;
	padding: 0px;
	}

#commentsform form{
	text-align: left;
	margin: 0px;
	}

#commentsform p{
	margin: 0px;
	}

#commentsform form textarea{
	width: 99%;
	}
	
p.comments_link  img{
	margin: 0px;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	}

/** Drupal customizations **/

/* Indent sub-menus */
ul.menu .expanded .menu {
  margin-left: 2em !important;
}

/* Theme status message */
div.status {
  border-color: #C7F2C8;
  color: #33AA33;
}
.messages {
  background-color: #FFFFFF;
  border: 1px solid #B8D3E5;
}
.messages, .preview {
  margin: 0.75em 0pt;
  padding: 0.5em 1em;
}

